* {
	margin:0;
	padding: 0;
	font-weight: 300;
}

/*
***
import fonts
***
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
h1 , h2 , h3 {
	 font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.main {
	background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    color: #fff;
    overflow: hidden;
    min-height:600px;
}
.main:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('../img/backgrounds/main.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    overflow: hidden;
    height:600px;
      /*
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    */

}
.pic_ico {
	display: block;
	margin-top:40px;
	padding: 0;
}
.small_contacts {
	text-align: right;
	text-transform: uppercase;
	text-shadow: 2px 2px 1px rgba(0,0,0,.7);
	letter-spacing: 1px;
	font-size: 18px;
    font-weight: 500;
}
.small_contacts a {
    font-weight: 500;
}
#number {
	display: block;
	margin-top: 40px;
	color:white;
    font-size: 21px;
}
#email {
	display: block;
	color:white;
}

.company {
	position: relative;
}
.company h2 {
	font-weight: 700;
    margin-top: 10px;
    font-size: 55px;
    padding: 20px 40px 20px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
	/*
    border: solid 10px rgba(255,255,255,.7);
	*/
    display: inline-block;
}
.company h1 {
	margin: 0;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 25px;
}
.why_we {
	position: relative;
	margin-top: 40px;
}
.group_header {
	text-transform: uppercase;
    color:#00B0FF;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 35px;
}

.why_block {
    margin-top:30px;
    text-align: center;
    font-size: 16px;
    min-height: 400px;
    vertical-align: middle;

    background: #fff;
    -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    z-index: 7;

    background-size: cover;
    position: relative;
}
.why_block h3 {
    font-weight: 300;
    color:black;
    font-size: 24px;
    letter-spacing: 1px;
	font-family: 'PT Sans', sans-serif;
}
.why_block img {
    margin-top:20px;
}
.why_block p {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    word-spacing: 1.5px;
    line-height: 23px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.boxed {
    margin-top:10px;
    margin-bottom: 55px;
}
.uslugi {
	position: relative;
	margin-top: 100px;
}
.uslugi h2 {
	margin-bottom: 80px;
}
.uslugi h3 {
    font-weight: 400;
    font-size: 22px;
    word-spacing: 1px;
}
.uslugi p {
	font-size:15px;
    color:black;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
}
.usluga_img{
    width:200px;
    height:200px;
    margin:0 auto;
    overflow: hidden;
    background-size: cover;
    margin-top:-45px;
    margin-bottom: 20px;
}
.usluga_img img{
	border-radius: 100%;
	width: 200px;
	height: 200px;
}
.usluga {
    min-height: 450px;
    border:3px solid white;
    background-color: white;
    -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
}
.purple {
    border-bottom: 6px solid #6A1B9A;
}
.purple h3 {
    color:#6A1B9A;
}
.red {
    border-bottom: 6px solid #C51162;
}
.red h3 {
    color:#C51162;
}
.blue {
    border-bottom: 6px solid #00B0FF;
}
.blue h3 {
    color:#00B0FF;
}

.master {
    margin-top: 100px;
}

.master_pic {
    -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    height: 400px;
    background-image: url(../img/uslugi/master33.jpg);
    background-position: 40% 50%;
}
.master_text h2 {
    margin-bottom: 20px;
    margin-top: 100px;
    color:white;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
}
.master_text p {
	font-size: 30px;
	font-weight: 400;
	color:white;
	text-transform: uppercase;
}
.master_text {
    height: 400px;
    color:white;
    background-color: #00B0FF;
    -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);

}

.about {
	margin-top: 80px;
	overflow: hidden;
    position: relative;
    min-height: 600px;
}
.about:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      display: block;
      background-image: url('../img/backgrounds/about.jpg');
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center;
      background-attachment: fixed;
      overflow: hidden;
      height:600px;

      -webkit-filter: blur(6px);
      -moz-filter: blur(6px);
      -o-filter: blur(6px);
      -ms-filter: blur(6px);
      filter: blur(6px);

}
.about h2 {
	color:#fff;
	margin-top: 80px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.9);
}

.about p {
    color:white;
    word-spacing: 1.5px;
    line-height: 30px;
    text-shadow: 2px 2px 2px rgba(0,0,0,.9);
    font-size: 25px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.otzivi {
	position: relative;
	margin-top: 50px;
}
.otzivi h2 {
	margin-bottom: 50px;
}
.client_photo {
    width:120px;
    height:120px;
    margin:0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.client_photo img {
	width:120px;
	height: 120px;
	border-radius: 100%;
}
.otziv_text {
    word-spacing: 1px;
    font-size: 15px;
}
.client_name {
    color:#00B0FF;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
}

.contacts {
	position: relative;
    background-color: rgb(238,238,238);
    min-height:300px;
}
.white_rect {
      background-color: #fff;
      height:30px;
      margin-bottom: 100px;
}
.contacts_info {
	margin-bottom: 30px;
	font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.2px;

}
.margins {
	margin-bottom: 20px;
}
.mailphone a {
      margin-left: 10px;
      color:black;
}
#number_b {
	color:black;
}
.eco_chist_footer {
    margin-top: 50px;
    font-size: 16px;
    letter-spacing: 1.2px;
    word-spacing: 1px;
    font-weight: 400;
    color:black;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
    .why_block {
        min-height: 250px;
    }
	.main {
		min-height: 450px;
	}
    .company h2 {
    	font-size:35px;
    	font-weight: 500;
    }
    .company h1 {
    	font-size: 21px;
    }
    .group_header {
    	font-size: 25px;
    }
    .why_we h3 {
    	font-size: 19px;
    }
    .why_we p {
    	font-size: 14px;
    }

    .uslugi h3 {
    	font-size: 19px;
    }
    .uslugi p {
    	font-size: 14px;
    }
    .usluga {
    	min-height: 300px;
    	margin-bottom: 90px;
    }

    .master p {
    	font-size: 26px;
    }

    .about p {
    	font-size: 14px;
    	padding: 0px 30px 0px 30px;
    }

    .client_name {
    	font-size: 14px;
    }
}
